@using FileMe.Extensions
@model IEnumerable<FileMe.DAL.Classes.Group>

@{
        
}

<table class="table">
    <tr>
        <th>
            @Html.SortLink("Название", "Name", "Index", "Group", null)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>

<div>
    @Html.SortLink("Вперед", "", "Index", "Group", null)
    @Html.SortLink("Назад", "", "Index", "Group", null)
</div>


