@using FileMe.DAL.Classes
@using FileMe.Extensions
@model IEnumerable<FileMe.DAL.Classes.Folder>

@{
    var parent = ViewData["Parent"] as Folder;
    var isRootFolder = Convert.ToBoolean(ViewData["IsRootFolder"] ?? true);
}

<table class="table">
    <tr>
        <th>
            @Html.SortLink("Название", "Name", "Index", "Folder", null)
        </th>
        <th>
            @Html.SortLink("Дата создания", "CreationDate", "Index", "Folder", null)
        </th>
    </tr>
    @if (!isRootFolder)
    {
        <tr>
            <td>
                @Html.ActionLink("\\...", "Index", new { parent = parent != null ? parent.Id : (long?)null }, null)
            </td>
        </tr>

    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", new { parent = item.Id }, null)
            </td>
            <div>

                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </div>
        </tr>
    }

</table>